// Firestore rules for the transactions & budgets collections
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /transactions/{document=**} {
      // only allow logged in users to create documents
      allow create: if request.auth != null;
      
      // logged in user uid must match the document creator to read, update or delete
      allow read, update, delete: if request.auth.uid == resource.data.uid;
    }
    match /budgets/{document=**} {
      // only allow logged in users to create documents
      allow create: if request.auth != null;

      // logged in user uid must match the document creator to read, update or delete
      allow read, update, delete: if request.auth.uid == resource.data.uid;
    }
  }
}