.container {
  align-items: center;
  display: flex;
  gap: 0.381rem;
  height: 3.425rem;
  padding-top: 3rem;
  width: 13.7rem;
}

.title {
  color: var(--color-primary-900);
  font-size: 1rem;
  font-weight: 900;
}

@media screen and (min-width: 415px) {
  .container {
    height: 4.25rem;
    width: 17rem;
  }
  .title {
    font-size: 1.35rem;
  }
}
