.container {
  align-items: center;
  border-bottom: 1px solid var(--color-gray-300);
  cursor: pointer;
  display: flex;
  height: 6.7rem;
  justify-content: space-between;
  padding: 1.6rem;
  width: 100%;
}

.openedMenu {
  height: 100vh;
  padding-top: 1.6rem;
  width: 100%;
}

.openedMenu nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  height: 26.6rem;
}

.navItem,
.navItemSelected {
  align-items: center;
  border-left: 0.6rem solid var(--color-accent-white);
  color: var(--color-gray-800);
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  gap: 0.8rem;
  height: 5.6rem;
  padding: 1.6rem;
  width: 34.3rem;
}

.navItemSelected {
  border-left: 0.6rem solid var(--color-primary-600);
}
