.container {
  background-color: var(--color-gray-25);
  border-radius: 0.8rem;
  border: 0.1rem solid var(--color-gray-200);
  height: 22.6rem;
  margin-bottom: 1.6rem;
  padding: 1.6rem;
  width: 34.3rem;
}

.top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.8rem;
}

.month {
  color: var(--color-gray-900);
  font-size: 1.8rem;
  font-weight: 600;
}

.row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
  height: 1.9rem;
}

.incomeValue,
.expensesValue,
.remainingValue {
  font-size: 1.6rem;
  font-weight: 500;
}

.incomeValue {
  color: var(--color-accent-green);
}

.expensesValue {
  color: var(--color-accent-red);
}

.remainingValue {
  color: var(--color-gray-900);
}

.type {
  align-items: center;
  color: var(--color-gray-500);
  display: flex;
  font-size: 1.4rem;
  font-weight: 600;
  gap: 0.8rem;
}

.divider {
  margin-top: -1.4rem;
}

.bottom {
  align-items: center;
  display: flex;
  height: 4rem;
  justify-content: space-between;
  margin-top: 0.8rem;
}

.budgetInput {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 22rem;
}

.budgetInput input {
  border-radius: 0.8rem;
  border: 0.1rem solid var(--color-gray-200);
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  color: var(--color-gray-500);
  font-size: 1.4rem;
  font-weight: 400;
  height: 4rem;
  padding: 0.8rem 1.4rem;
  width: 13.4rem;
}

.budgetInput button {
  background-color: var(--color-primary-600);
  border-radius: 0.8rem;
  border: none;
  color: var(--color-accent-white);
  font-size: 1.4rem;
  font-weight: 400;
  padding: 1rem 1.8rem;
}

.budgetInfo {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  width: 100%;
}

.budget {
  align-items: center;
  color: var(--color-primary-600);
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
}
