.container {
  display: flex;
  height: auto;
  justify-content: center;
  margin-top: 3.2rem;
  width: 100%;
}

.paginationButtons {
  display: flex;
  height: 40px;
  justify-content: center;
  list-style: none;
  max-width: 100%;
}

.pageElement {
  max-width: 4.2rem;
}

.paginationButtons a {
  border-radius: 5px;
  border: 1px solid var(--color-gray-200);
  cursor: pointer;
  margin: 6px;
  padding: 10px;
}

.paginationButtons a:hover {
  background-color: var(--color-primary-25);
  color: var(--color-primary-600);
}

.paginationActive a {
  background-color: var(--color-primary-25);
  border: 1px solid var(--color-primary-600);
  color: var(--color-primary-600);
}

.previousButton,
.nextButton {
  background-color: var(--color-gray-100);
  color: var(--color-gray-900);
}

/* Use if necessary */

/* .paginationDisabled a {
  color: var(--color-gray-50);
  background-color: var(--color-gray-50);
  border: none;
} */

@media screen and (min-width: 415px) {
  .container {
    margin-top: 4.2rem;
  }

  .paginationButtons {
    height: 40px;
    max-width: 100%;
  }

  .pageElement {
    max-width: 10rem;
  }

  .paginationButtons a {
    margin: 15px;
    padding: 18px;
  }
}
