.container {
  background-color: var(--color-accent-white);
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  height: 40.1rem;
  margin-top: 2.7rem;
  padding: 1.6rem;
  width: 100%;
}

.title {
  color: var(--color-gray-800);
  font-size: 2rem;
  font-weight: 700;
}

.summary {
  border-radius: 0.8rem;
  border: 0.1rem solid var(--color-gray-200);
  display: flex;
  gap: 1.6rem;
  height: 8.8rem;
  padding: 1.6rem;
  width: 34.2rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.subtitle {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-gray-900);
}

.income,
.expenses,
.balance {
  font-size: 2rem;
  font-weight: 600;
}

.income {
  color: var(--color-accent-green);
}

.expenses {
  color: var(--color-accent-red);
}

.balance {
  color: var(--color-gray-900);
}

.info span {
  color: var(--color-gray-500);
  font-size: 1.4rem;
  font-weight: 400;
}

@media screen and (min-width: 415px) {
  .container {
    display: none;
  }
}
