.pieCharts {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  height: fit-content;
  margin-top: 2.4rem;
}

.averagesContainer {
  display: flex;
  gap: 2.4rem;
  height: 22.1rem;
  justify-content: space-between;
  margin: 3.2rem auto;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  scrollbar-width: none;
  width: 100%;
}

.averagesContainer::-webkit-scrollbar {
  display: none;
}

.barChart {
  background-color: var(--color-accent-white);
  border: 0.1rem solid var(--color-gray-200);
  height: fit-content;
  margin-top: 2.4rem;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  padding: 2.4rem;
  width: 100%;
}

.barChart::-webkit-scrollbar {
  display: none;
}

.monthlyDetailMobile {
  background-color: var(--color-accent-white);
  border: 0.1rem solid var(--color-gray-200);
  height: fit-content;
  margin-top: 2.4rem;
  padding: 1.6rem;
  width: 100%;
}

.title {
  color: var(--color-gray-800);
  font-size: 2rem;
  font-weight: 700;
  margin: 1.6rem 0;
}

.divider {
  margin-bottom: 1.6rem;
  margin-top: -0.6rem;
}

.monthlyDetailDesktop {
  display: none;
}

@media screen and (min-width: 415px) {
  .pieCharts {
    flex-direction: row;
    gap: 2.4rem;
    height: fit-content;
    margin: 3.2rem auto;
    width: 98.1rem;
  }
  .averagesContainer {
    padding: 0;
    width: 98.4rem;
  }
  .barChart {
    border-radius: 1.2rem;
    height: fit-content;
    margin: 3.2rem auto;
    min-height: 38.5rem;
    width: 98.1rem;
  }
  .barChart::-webkit-scrollbar {
    display: none;
  }
  .monthlyDetailMobile {
    display: none;
  }
  .monthlyDetailDesktop {
    border-radius: 1.2rem;
    border: 4px solid red;
    display: flex;
    flex-direction: column;
    height: 96.1rem;
    margin: 3.2rem auto;
    width: 98.1rem;
  }
}
