.pieCharts {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  height: fit-content;
  margin-top: 2.4rem;
}

.averagesContainer {
  display: flex;
  gap: 2.4rem;
  height: 22.1rem;
  justify-content: space-between;
  margin: 3.2rem auto;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  scrollbar-width: none;
  width: 100%;
}

.averagesContainer::-webkit-scrollbar {
  display: none;
}

.barChart {
  background-color: var(--color-accent-white);
  border: 0.1rem solid var(--color-gray-200);
  height: 41.8rem;
  margin-top: 2.4rem;
  overflow-x: auto;
  padding: 2.4rem;
  width: 100%;
}

@media screen and (min-width: 415px) {
  .pieCharts {
    flex-direction: row;
    gap: 2.4rem;
    height: fit-content;
    margin: 3.2rem auto;
    width: 98.1rem;
  }
  .averagesContainer {
    padding: 0;
    width: 98.4rem;
  }
  .barChart {
    border-radius: 1.2rem;
    height: 38.5rem;
    margin: 3.2rem auto;
    width: 98.1rem;
  }
}
